# Ignorer tout
*

# Garder le .gitignore
!.gitignore

# Garder uniquement les fichiers nécessaires à Python.exe
!release/
release/*
!release/Python.exe
!release/Python.dll
!release/Python.deps.json
!release/Python.runtimeconfig.json

# Conserver les dépendances natives publiées
!release/runtimes/
!release/runtimes/**